/* ColorStrip.css */
body {
    margin: 0;
    overflow: hidden;
  }
  .circle {
    height: 8px;
    width: 8px;
    border-radius: 24px;
    background-color: red;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }
  #colorStrip.active {
    display: block;
  }